@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}
/* orange-color */
.text-primary {
    color: #FF900E;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* .dark 03  */
.text-light-gray {
    color: #727272;
}
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #FF900E;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
    margin-top: 32px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
main > section { 
    margin-top: 130px;
}
.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
/* header styles */


/* navbar related styles */
.nav-bar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.nav-bar , .banner {
    max-width: 1440px;
    margin: 0 auto;
}


/* banner-related-style */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.brand-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-image {
    width: 100%;
}

/* team and feature related style */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-feature {
    margin-left: 130px;
    max-width: 530px;
}
#quick-list {
    font-weight: 500;
}

.feature-description {
    line-height: 26px;
    font-size: 1rem;
}
.fact-description {
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}
/* feature-title-related-style */
.features {
    gap: 120px;
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-title {
    margin-bottom: 10px;
}
.feature-card .feature-title {
    font-weight: 600;
    font-size: 1.25rem;
}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -100px;
}
#experience-year {
    font-size: 4rem;
    font-weight: 600;
}
.feature-architects img {
    width: 100%;
}
/* some facts related styles */
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/* sponsor related style */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-company img {
    filter: grayscale(100%);
}

footer {
    max-width: 1440px;
    margin: 150px auto 150px;
    background-color: #FFF4E7;
    text-align: center;
    padding: 38px 210px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-bar,
    .teams,
    .features {
        flex-direction: column;
    }
    .nav-links {
        font-size: 1.25rem;
        margin-top: 20px;
        justify-content: space-between;
    }
    .nav-link {
        font-size: 1.25rem;
    }
    .team-img-container,
    .facts-container,
    .sponsors-company {
        grid-template-columns: 1fr;
    }
    .teams button {
        display: block;
        margin: 32px auto 0;
    }
    .facts-container {
        justify-items: center;
        gap: 24px;
    }
    .sponsors-company {
        justify-items: center;
        gap: 50px;
    }
    .our-feature {
        margin-left: 20px;
    } 
    #experience-badge {
        margin-top: 20px;
        margin-left: 20px;
        padding: 35px 30px;
        font-size: 1rem;
    }
    footer {
        width: 100%;
        padding: 30px;
        margin: 30px 0;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams,
    .features {
        flex-direction: column;
    }
    .our-feature {
        margin: 50px auto;
    }
    .sponsors-company,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    } 
     #experience-badge {
        display: block;
        margin: 40px auto 0;
        padding: 35px 30px;
    }
     footer {
        width: 100%;
        padding: 30px;
        margin: 50px 0;
    }
}